@charset "utf-8";
/* CSS Document */

.wrap{margin:0; padding:0; background:url(../images/about.jpg) no-repeat 100% 100%; background-size: cover; width:100%; height:100%;  overflow:hidden;}
/*header*/
.header{width:100%; overflow:hidden; border-bottom:1px solid #CCC;}
.inner{margin:0 auto; max-width:1024px;}


/*common*/
h1{float:left; vertical-align:middle; margin-top:1.5%; margin-bottom:1.5%; }
/*서브메뉴*/
#menu{ width:100%;}
#menu li>a{ display:block; vertical-align:middle;  color:#fff;  text-align:center; float:right; margin:2%; }
#menu li:hover> a {background: rgba(0,0,0,0.5); color:#36f;}
#menu li a.active{background: rgba(0,0,0,0.5); color:#36f;}

#menu li ul{ display:none; width:100%;}
#menu li ul li{width:100%; display:block;}
#menu li>ul li>a{ background: rgba(0,0,0,0.5); font-size:1.2em;width:100%; display:block; padding:15px; margin:0;}
#menu li ul li a:hover{background: rgba(255,255,255,0.8); color:#000;}